@font-face{
    font-family: 'adventure';
    src: url('./Adventure-Normal.ttf');
}
@font-face{
    font-family: 'admir';
    src: url('./Admiration\ Pains.ttf');
}
@font-face{
    font-family: 'kaiti';
    src: url('./kaiti.ttf');
}
@font-face{
    font-family: 'stup';
    src: url('./Stupido.ttf');
}
@font-face{
    font-family: 'wenyiheiti';
    src: url('./wenyiheiti.ttf');
}