@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1556330154884'); /* IE9 */
  src: url('iconfont.eot?t=1556330154884#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABrwAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEcATYCJAMMCwgABCAFhG0HSBv0BREVlCNkf4NMxnbQMsMMGbpsZT9BK8B6nfPt6IUG6sL0vyAmEAEdAAAAACCCp7XXebt7FwSXKCiqtB7QIrkqYDQehawD8swS1R88tyjbDPcqOy70b8AmqwDoCR7Af5nDbL21KbrdwkUoluQ89dP/yD9hheZDVzquhjfO3Sep9BsFzheA9LxTvc4hE4f/uZzeBDqQ1rcsp7kWHfUCjAMKdKxBkZVQYtwwdoFLOE6g1bCpYm7bGiAU1rhAbKK1ByIXVBSWaRbqmqVFXFNpTudTuBp+P34Yj2aSKrOmLtzYTCD//EU+1mitjwgR4OoKGVNRiPW1yZWwYFTWqiTthbUipLkijUOhLq/tPzySIGpWeTuYiFKJz7lcEl+I7/qUDGo0YwTjiOy3F8VS1Lh+xRl05y6dOZy13yTexZeCPdEZXQGu2JQamzn9XMGy61p2hWnv2bP9KC/F26Za9CP6wXZ3FS3voRt0UDTfT4e/CARr/2eD9HfztoCnHzAW/VPNEkz000Q924ousUy5qEJXaLqy3oxfAvK5R8Py9no9XjtwY/bQnBMxSJoMQdZsBC3kVKi0mQ61ZjOg1RQLVrfpswMWpQWTnQYQut2GpNMdyLo9QQv5CiqDfkGtOzK0Wh5s2YZw0IagUfRgf0CO5+BYdBNVXjGuo5GsJGQ8URJFoMrLYuaCM8ocM9I71qoBgvAELTgNx5FhEe7Rad6pLk1RhLo35Y6nbIOgUfTA/gA5noPfXTelz18xrqORFlqN94mSqH9QyZU90Ity7kW7l1fSO9ZUAwjCE2jBIBxHBkv9oB6d5roR8aVR2J1CX2W+vnr6vj3Qyjo5R4ocRZsILRn+d2YeDO2zDanj9UVZBgA=') format('woff2'),
  url('iconfont.woff?t=1556330154884') format('woff'),
  url('iconfont.ttf?t=1556330154884') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1556330154884#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconliebiaozhankai:before {
  content: "\e72f";
}

.iconliebiaoshouqi:before {
  content: "\e600";
}
